<!DOCTYPE html>
<html>
  <head>
    <title>MGMoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header_list">
        <div class = "header_logo">   <!--ロゴ-->
          <a href = "/"><img src = "/logo/M-size.png"></a>
        </div>

        <div class = "header_info">   <!--総資産、収入、支出-->
          <ul>
            <li><%= link_to "総資産", "/index" %></li>
            <li><%= link_to "収入", "/income" %></li>
            <li><%= link_to "支出", "#" %></li>
          </ul>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
